---
title: Glossary
permalink: /glossary/
layout: container
---
{% assign article = site.glossary | where:"path", "_glossary/a.md"  | first %}
{% assign article-id = "content/_glossary/a.md" %}
{% assign article-title = "A" %}
{% assign article-slug = "a" %}
{% assign article-url = "/presidium/glossary/#a" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.glossary | where:"path", "_glossary/b.md"  | first %}
{% assign article-id = "content/_glossary/b.md" %}
{% assign article-title = "B" %}
{% assign article-slug = "b" %}
{% assign article-url = "/presidium/glossary/#b" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.glossary | where:"path", "_glossary/c.md"  | first %}
{% assign article-id = "content/_glossary/c.md" %}
{% assign article-title = "C" %}
{% assign article-slug = "c" %}
{% assign article-url = "/presidium/glossary/#c" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}
