---
title: Analyst and Developer
permalink: /recipes/roles/analyst-and-developer/
layout: container
---
{% assign article = site.recipes | where:"path", "_recipes/04-roles/00-Analyst and Developer/business-analyst.md"  | first %}
{% assign article-id = "content/_recipes/04-roles/00-Analyst and Developer/business-analyst.md" %}
{% assign article-title = "Business Analyst" %}
{% assign article-slug = "business-analyst" %}
{% assign article-url = "/presidium/recipes/roles/analyst-and-developer/#business-analyst" %}
{% assign article-roles = "Business Analyst" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/04-roles/00-Analyst and Developer/developer.md"  | first %}
{% assign article-id = "content/_recipes/04-roles/00-Analyst and Developer/developer.md" %}
{% assign article-title = "Developer" %}
{% assign article-slug = "developer" %}
{% assign article-url = "/presidium/recipes/roles/analyst-and-developer/#developer" %}
{% assign article-roles = "Developer" %}
{% include article.html %}
