---
title: Status
permalink: /key-concepts/status/
layout: container
---
{% assign article = site.key-concepts | where:"path", "_key-concepts/05-status/00-statuses.md"  | first %}
{% assign article-id = "_key-concepts/05-status/00-statuses.md" %}
{% assign article-slug = "article-statuses" %}
{% assign article-url = "/presidium/key-concepts/status/#article-statuses" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/05-status/01-draft.md"  | first %}
{% assign article-id = "_key-concepts/05-status/01-draft.md" %}
{% assign article-slug = "draft" %}
{% assign article-url = "/presidium/key-concepts/status/#draft" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/05-status/02-review.md"  | first %}
{% assign article-id = "_key-concepts/05-status/02-review.md" %}
{% assign article-slug = "review" %}
{% assign article-url = "/presidium/key-concepts/status/#review" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/05-status/03-published.md"  | first %}
{% assign article-id = "_key-concepts/05-status/03-published.md" %}
{% assign article-slug = "published" %}
{% assign article-url = "/presidium/key-concepts/status/#published" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/05-status/04-retired.md"  | first %}
{% assign article-id = "_key-concepts/05-status/04-retired.md" %}
{% assign article-slug = "retired" %}
{% assign article-url = "/presidium/key-concepts/status/#retired" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}
