---
title: Structure
permalink: /key-concepts/structure/
layout: container
---
{% assign article = site.key-concepts | where:"path", "_key-concepts/02-structure/00-head.md"  | first %}
{% assign article-id = "_key-concepts/02-structure/00-head.md" %}
{% assign article-title = "Head" %}
{% assign article-slug = "head" %}
{% assign article-url = "/presidium/key-concepts/structure/#head" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/02-structure/01-sub.md"  | first %}
{% assign article-id = "_key-concepts/02-structure/01-sub.md" %}
{% assign article-title = "Article 2.1" %}
{% assign article-slug = "article-2.1" %}
{% assign article-url = "/presidium/key-concepts/structure/#article-2.1" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/02-structure/02-sub.md"  | first %}
{% assign article-id = "_key-concepts/02-structure/02-sub.md" %}
{% assign article-title = "Article 2.2" %}
{% assign article-slug = "article-2.2" %}
{% assign article-url = "/presidium/key-concepts/structure/#article-2.2" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/02-structure/03-category/01-subcat.md"  | first %}
{% assign article-id = "_key-concepts/02-structure/03-category/01-subcat.md" %}
{% assign article-title = "Article 2.3.1" %}
{% assign article-slug = "article-2.3.1" %}
{% assign article-url = "/presidium/key-concepts/structure/structure-category/#article-2.3.1" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/02-structure/04-sub.md"  | first %}
{% assign article-id = "_key-concepts/02-structure/04-sub.md" %}
{% assign article-title = "Article 2.4" %}
{% assign article-slug = "article-2.4" %}
{% assign article-url = "/presidium/key-concepts/structure/#article-2.4" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/02-structure/05-tail.md"  | first %}
{% assign article-id = "_key-concepts/02-structure/05-tail.md" %}
{% assign article-title = "Tail" %}
{% assign article-slug = "tail" %}
{% assign article-url = "/presidium/key-concepts/structure/#tail" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}
