---
title: Recipes
permalink: /recipes/
layout: container
---
{% assign article = site.recipes | where:"path", "_recipes/01-structure/00-head.md"  | first %}
{% assign article-id = "content/_recipes/01-structure/00-head.md" %}
{% assign article-title = "Head" %}
{% assign article-slug = "head" %}
{% assign article-url = "/presidium/recipes/structure/#head" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/01-structure/01-sub.md"  | first %}
{% assign article-id = "content/_recipes/01-structure/01-sub.md" %}
{% assign article-title = "Article 2.1" %}
{% assign article-slug = "article-2.1" %}
{% assign article-url = "/presidium/recipes/structure/#article-2.1" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/01-structure/02-sub.md"  | first %}
{% assign article-id = "content/_recipes/01-structure/02-sub.md" %}
{% assign article-title = "Article 2.2" %}
{% assign article-slug = "article-2.2" %}
{% assign article-url = "/presidium/recipes/structure/#article-2.2" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/01-structure/04-sub.md"  | first %}
{% assign article-id = "content/_recipes/01-structure/04-sub.md" %}
{% assign article-title = "Article 2.4" %}
{% assign article-slug = "article-2.4" %}
{% assign article-url = "/presidium/recipes/structure/#article-2.4" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/01-structure/05-tail.md"  | first %}
{% assign article-id = "content/_recipes/01-structure/05-tail.md" %}
{% assign article-title = "Tail" %}
{% assign article-slug = "tail" %}
{% assign article-url = "/presidium/recipes/structure/#tail" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/01-structure/Directory With Index/with-index.md"  | first %}
{% assign article-id = "content/_recipes/01-structure/Directory With Index/with-index.md" %}
{% assign article-title = "With an Index" %}
{% assign article-slug = "with-an-index" %}
{% assign article-url = "/presidium/recipes/structure/with-index/#with-an-index" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/01-structure/Directory Without Index/without-index.md"  | first %}
{% assign article-id = "content/_recipes/01-structure/Directory Without Index/without-index.md" %}
{% assign article-title = "Without Index" %}
{% assign article-slug = "without-index" %}
{% assign article-url = "/presidium/recipes/structure/directory-without-index/#without-index" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/04-roles/0-setting roles.md"  | first %}
{% assign article-id = "content/_recipes/04-roles/0-setting roles.md" %}
{% assign article-title = "Using Roles" %}
{% assign article-slug = "using-roles" %}
{% assign article-url = "/presidium/recipes/roles/#using-roles" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/04-roles/00-Analyst and Developer/business-analyst.md"  | first %}
{% assign article-id = "content/_recipes/04-roles/00-Analyst and Developer/business-analyst.md" %}
{% assign article-title = "Business Analyst" %}
{% assign article-slug = "business-analyst" %}
{% assign article-url = "/presidium/recipes/roles/analyst-and-developer/#business-analyst" %}
{% assign article-roles = "Business Analyst" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/04-roles/00-Analyst and Developer/developer.md"  | first %}
{% assign article-id = "content/_recipes/04-roles/00-Analyst and Developer/developer.md" %}
{% assign article-title = "Developer" %}
{% assign article-slug = "developer" %}
{% assign article-url = "/presidium/recipes/roles/analyst-and-developer/#developer" %}
{% assign article-roles = "Developer" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/04-roles/all.md"  | first %}
{% assign article-id = "content/_recipes/04-roles/all.md" %}
{% assign article-title = "For All Roles" %}
{% assign article-slug = "for-all-roles" %}
{% assign article-url = "/presidium/recipes/roles/#for-all-roles" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/04-roles/business-analyst.md"  | first %}
{% assign article-id = "content/_recipes/04-roles/business-analyst.md" %}
{% assign article-title = "For Business Analyst Only" %}
{% assign article-slug = "for-business-analyst-only" %}
{% assign article-url = "/presidium/recipes/roles/#for-business-analyst-only" %}
{% assign article-roles = "Business Analyst" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/04-roles/developer-tester.md"  | first %}
{% assign article-id = "content/_recipes/04-roles/developer-tester.md" %}
{% assign article-title = "For Developers and Testers" %}
{% assign article-slug = "for-developers-and-testers" %}
{% assign article-url = "/presidium/recipes/roles/#for-developers-and-testers" %}
{% assign article-roles = "Developer,Tester" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/04-roles/developer.md"  | first %}
{% assign article-id = "content/_recipes/04-roles/developer.md" %}
{% assign article-title = "For Developers Only" %}
{% assign article-slug = "for-developers-only" %}
{% assign article-url = "/presidium/recipes/roles/#for-developers-only" %}
{% assign article-roles = "Developer" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/05-status/00-statuses.md"  | first %}
{% assign article-id = "content/_recipes/05-status/00-statuses.md" %}
{% assign article-title = "Article Statuses" %}
{% assign article-slug = "article-statuses" %}
{% assign article-url = "/presidium/recipes/status/#article-statuses" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/05-status/01-draft.md"  | first %}
{% assign article-id = "content/_recipes/05-status/01-draft.md" %}
{% assign article-title = "Draft" %}
{% assign article-slug = "draft" %}
{% assign article-url = "/presidium/recipes/status/#draft" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/05-status/02-review.md"  | first %}
{% assign article-id = "content/_recipes/05-status/02-review.md" %}
{% assign article-title = "Review" %}
{% assign article-slug = "review" %}
{% assign article-url = "/presidium/recipes/status/#review" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/05-status/03-published.md"  | first %}
{% assign article-id = "content/_recipes/05-status/03-published.md" %}
{% assign article-title = "Published" %}
{% assign article-slug = "published" %}
{% assign article-url = "/presidium/recipes/status/#published" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/05-status/04-retired.md"  | first %}
{% assign article-id = "content/_recipes/05-status/04-retired.md" %}
{% assign article-title = "Retired" %}
{% assign article-slug = "retired" %}
{% assign article-url = "/presidium/recipes/status/#retired" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/06-author/00-authors.md"  | first %}
{% assign article-id = "content/_recipes/06-author/00-authors.md" %}
{% assign article-title = "With an Author" %}
{% assign article-slug = "with-an-author" %}
{% assign article-url = "/presidium/recipes/author/#with-an-author" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.recipes | where:"path", "_recipes/06-author/01-none.md"  | first %}
{% assign article-id = "content/_recipes/06-author/01-none.md" %}
{% assign article-title = "Without an Author" %}
{% assign article-slug = "without-an-author" %}
{% assign article-url = "/presidium/recipes/author/#without-an-author" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}
