---
title: Author
permalink: /key-concepts/author/
layout: container
---
{% assign article = site.key-concepts | where:"path", "_key-concepts/06-author/00-authors.md"  | first %}
{% assign article-id = "_key-concepts/06-author/00-authors.md" %}
{% assign article-title = "With an Author" %}
{% assign article-slug = "with-an-author" %}
{% assign article-url = "/presidium/key-concepts/author/#with-an-author" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/06-author/01-none.md"  | first %}
{% assign article-id = "_key-concepts/06-author/01-none.md" %}
{% assign article-title = "Without an Author" %}
{% assign article-slug = "without-an-author" %}
{% assign article-url = "/presidium/key-concepts/author/#without-an-author" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}
