---
title: Roles
permalink: /key-concepts/roles/
layout: container
---
{% assign article = site.key-concepts | where:"path", "_key-concepts/04-roles/0-setting roles.md"  | first %}
{% assign article-id = "_key-concepts/04-roles/0-setting roles.md" %}
{% assign article-slug = "using-roles" %}
{% assign article-url = "/presidium/key-concepts/roles/#using-roles" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/04-roles/00-Analyst and Developer/index.md"  | first %}
{% assign article-id = "_key-concepts/04-roles/00-Analyst and Developer/index.md" %}
{% assign article-slug = "analyst-and-developer" %}
{% assign article-url = "/presidium/key-concepts/roles/analyst-and-developer/" %}
{% assign article-roles = "Business Analyst,Developer" %}
{% include category.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/04-roles/all.md"  | first %}
{% assign article-id = "_key-concepts/04-roles/all.md" %}
{% assign article-slug = "for-all-roles" %}
{% assign article-url = "/presidium/key-concepts/roles/#for-all-roles" %}
{% assign article-roles = "All Roles" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/04-roles/business-analyst.md"  | first %}
{% assign article-id = "_key-concepts/04-roles/business-analyst.md" %}
{% assign article-slug = "for-business-analyst-only" %}
{% assign article-url = "/presidium/key-concepts/roles/#for-business-analyst-only" %}
{% assign article-roles = "Business Analyst" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/04-roles/developer-tester.md"  | first %}
{% assign article-id = "_key-concepts/04-roles/developer-tester.md" %}
{% assign article-slug = "for-developers-and-testers" %}
{% assign article-url = "/presidium/key-concepts/roles/#for-developers-and-testers" %}
{% assign article-roles = "Developer,Tester" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/04-roles/developer.md"  | first %}
{% assign article-id = "_key-concepts/04-roles/developer.md" %}
{% assign article-slug = "for-developers-only" %}
{% assign article-url = "/presidium/key-concepts/roles/#for-developers-only" %}
{% assign article-roles = "Developer" %}
{% include article.html %}
