---
title: Analyst and Developer
permalink: /key-concepts/roles/analyst-and-developer/
layout: container
---
{% assign article = site.key-concepts | where:"path", "_key-concepts/04-roles/00-Analyst and Developer/business-analyst.md"  | first %}
{% assign article-id = "_key-concepts/04-roles/00-Analyst and Developer/business-analyst.md" %}
{% assign article-slug = "business-analyst" %}
{% assign article-url = "/presidium/key-concepts/roles/analyst-and-developer/#business-analyst" %}
{% assign article-roles = "Business Analyst" %}
{% include article.html %}

{% assign article = site.key-concepts | where:"path", "_key-concepts/04-roles/00-Analyst and Developer/developer.md"  | first %}
{% assign article-id = "_key-concepts/04-roles/00-Analyst and Developer/developer.md" %}
{% assign article-slug = "developer" %}
{% assign article-url = "/presidium/key-concepts/roles/analyst-and-developer/#developer" %}
{% assign article-roles = "Developer" %}
{% include article.html %}
